.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 600px;

}

.App-link {
  color: #61dafb;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  color: #000;
  background-color: #fff;
  border: 1px solid black;
  padding: 5px;
  z-index: 100;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.float-container {
  padding: 20px;
  width: 100%;
  margin: 10px 50px;
}

.float-child-80 {
  width: 80%;
  float: left;
  text-align: center;
}

@media (min-width: 1060px) {
  .float-child-70 {
    width: 70%;
    float: left;
    text-align: center;
  }
  .float-child-30 {
    width: 30%;
    float: left;
    text-align: center;
  }
}

.float-child-70 {
  text-align: center;
}

.float-child-30 {
  text-align: center;
}


.float-child-60 {
  width: 60%;
  float: left;
  text-align: center;
}

.float-child-50 {
  width: 50%;
  float: left;
  text-align: center;
}

.float-child-20 {
  width: 20%;
  float: left;
}

.graphicHeader {
  width: 100%;
  text-align: center;
  background-color: lightblue;
  padding: 10px;
}